.pokemonlist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    row-gap: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    
}